<div class="row">
  <aside class="col-md-6">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/sighting_record_form' %>
    </section>
  </aside>
</div>