<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is the about page for the Birder's Life List application.</br>
  The orders and families are those listed in the IOC Master List, v5.3, <%= link_to 'http://www.worldbirdnames.org/ioc-lists/master-list-2/' %>, last accessed 17-9-2015.
</p>
